@page "/events-select"
@inject State.IAppState AppState

<h1>Events</h1>

<p role="status">Select the CSV which contains the events you’ll see in the calendar.</p>

@* <InputFile OnChange="AppState." *@
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
